/* set the CSS */


.container{
	margin-left: 20px;
}

	#map {
		padding-top: 30px;
		height: 250px;
		}

	#barchart{
		padding-left: 40px;
		padding-top: 30px;
	}


	svg {
		position: relative;
		}

	path {
		fill: green;
		fill-opacity: .75;
		stroke: #fff;
		stroke-width: 1.5px;
		}

	.countries{
		fill: #cdd;
	}

	.countries.Emirates{
		fill: #ddc;
	}

	.country-boundary {
	  fill: none;
	  stroke: #777;
	  stroke-dasharray: 2,2;
	  stroke-linejoin: round;
	}

	.place,
	.place-label {
	fill: #444;
	text-anchor: middle;
	}

	.countries-label {
	  fill: #777;
	  fill-opacity: .5;
	  font-size: 20px;
	  font-weight: 300;
	  text-anchor: middle;
	}

.hospitals {
	  fill: #777;
	  fill-opacity: .5;
	  font-size: 20px;
	  font-weight: 300;
	  text-anchor: middle;
	}